@media(min-width:600px){.prefooter__col{display:inline-block;text-align:left;vertical-align:top;border-bottom:0}
.prefooter__head{margin-bottom:16px}
.prefooter__download+.prefooter__download{margin-top:8px}
}
@media(min-width:600px) and (max-width:991px){.prefooter__base{padding:32px 0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.prefooter__col{-webkit-box-sizing:border-box;box-sizing:border-box;width:50%;float:left;padding-left:16px;padding-right:16px;min-width:50%}
}
@media(min-width:992px){.prefooter__base{padding:64px 0 40px}
}
@media(min-width:992px) and (max-width:1199px){.prefooter__col{width:208px;float:left;margin-left:16px;margin-right:16px}
}
@media(min-width:1200px){.prefooter__col{width:262px;float:left;margin-left:16px;margin-right:16px}
}