@media(min-width:992px){.helpsticky__title{font-size:26px}
.helpsticky__item{font-size:13px;line-height:16px}
.helpsticky__item{height:7.4em;width:7.4em;padding:8px}
.helpsticky__item--link .bbva-svgicon{margin-bottom:8px}
.helpsticky__container{margin-bottom:16px;right:16px}
.helpsticky__popup{right:8.8em;margin-bottom:16px;min-width:368px}
.helpsticky__popup .helpsticky__cursor{bottom:188px}
.helpsticky__popup--index3 .helpsticky__cursor{bottom:188px}
.helpsticky__popup--index2 .helpsticky__cursor{bottom:108px}
.helpsticky__popup--index1 .helpsticky__cursor{bottom:28px}
.helpsticky__pop{min-width:368px;min-height:240px;background:var(--helpsticky-pop-background-color,#fff);-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,.2);box-shadow:0 1px 3px 0 rgba(0,0,0,.2);border-radius:1px;-webkit-box-sizing:border-box;box-sizing:border-box;position:relative;-webkit-transition:opacity .4s;transition:opacity .4s;padding:32px}
.helpsticky__pop--active{display:block;opacity:1}
.helpsticky__pop *{text-align:center}
.helpsticky__pop iframe{width:100%;min-height:200px}
.helpsticky__menu{width:6.4em;position:absolute;right:0;bottom:0;-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,.2);box-shadow:0 1px 3px 0 rgba(0,0,0,.2);will-change:transform;-webkit-transform:translateX(calc(100% + 32px));transform:translateX(calc(100% + 32px))}
.helpsticky__cursor{position:absolute;width:0;height:0;border-style:solid;border-width:12px 0 12px 12px;border-color:transparent transparent transparent #fff;right:-12px}
}