:root{--prefooter-column-text-color:#626262;--prefooter-divider-color:#d3d3d3}
.dark-theme{--prefooter-column-text-color:#778892;--prefooter-divider-color:#778892}
.prefooter{position:relative;zoom:1;width:100%;display:block}
.prefooter::after,.prefooter::before{content:' ';display:block;height:0;width:0;overflow:hidden}
.prefooter::after{clear:both}
.prefooter__base{padding:8px 16px}
.prefooter--grey{background-color:#f4f4f4}
.prefooter--white{background-color:#fff}
.prefooter__col{border-bottom:1px solid var(--prefooter-divider-color,#d3d3d3)}
.prefooter__col:last-child{border-bottom:0}
.prefooter__head{font-family:BentonSansBBVA-Medium,Helvetica,Arial,sans-serif;font-size:15px;line-height:24px;margin-bottom:24px}
.prefooter__bodycopy{color:var(--prefooter-column-text-color,#626262)}
.prefooter__download{display:block;margin-top:16px}
.prefooter__download-icon{width:16px;height:16px;display:block;float:left;margin-top:4px}
.prefooter__heading{left:-999px;position:absolute;top:auto;width:0;height:0;overflow:hidden;z-index:-999}
.prefooter__heading:focus{top:auto;left:auto;z-index:999;width:auto;padding:8px;height:auto}
.prefooter__heading:focus{clip:unset}
@media(min-width:0) and (max-width:599px){.prefooter__col{width:100%;float:left;margin-left:0;margin-right:0;padding-top:24px;padding-bottom:24px}
}